.card {
    background-color: $card-BG;
    width: 40rem;
    padding: 2.3rem;
    border-radius: 16px;


    

    &__image {
        background-size: cover;
        width: 100%;
        border-radius: 16px;
    }
    &__title {
        font-size: 23px;
        color: $white;
    }
    &__text {
        color: $soft-blue;

    }
    &__stat {

    }
    &__author {

    }
}

