.card {
  background-color: $card-BG;
  width: 35rem;
  padding: 2.3rem;
  border-radius: 16px;

  &__image {
    background-size: cover;
    width: 100%;
    border-radius: 16px;
  }
  &__title {
    font-size: 23px;
    color: $white;
    // font-weight: 600;
  }
  &__text {
    color: $soft-blue;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.6;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    // ovo vec pise u body
    // font-size: 1.8rem;
    // da se makne ovaj pomak e desno
    //nisam ni znao da ul ima padding xD
    padding: 0;
    // margin: 0 0.8rem 1.6rem 0.8rem;

    &--1 {
      color: $cyan;
      background: url(../../images/icon-ethereum.svg) no-repeat 6px 3px
        transparent;
      list-style-type: none;
      margin: 0;
      padding: 0px 0px 1px 24px;
      vertical-align: middle;
    }
    &--2 {
      color: $soft-blue;
      background: url(../../images/icon-clock.svg) no-repeat 0px 3px transparent;
      list-style-type: none;
      margin: 0;
      padding: 0px 0px 1px 24px;
      vertical-align: middle;
    }
    &__line {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid rgb(182, 23, 23);
      background: red;
      /* margin: 0em 0; */
      padding: 0;

      
    }
  }
  &__creator {
    color: $soft-blue;
  }

  // dodano za card footwer 
  &__footer {
    display: flex;
    align-items: center;
  }
  &__creator-img {
    width: 4rem;
    height: 4rem;
    margin-right: 18px;
    // kruzic unutarnje strane slike 
    outline: 1px solid $white;
    outline-offset: 0px;
    border-radius: 50%;
  }
}

// li
// {
//     // background: url(../../images/icon-ethereum.svg) no-repeat 7px 7px transparent;
//     background: url(../../images/icon-ethereum.svg) no-repeat 6px 3px transparent;
//     list-style-type: none;
//     margin: 0;
//     padding: 0px 0px 1px 24px;
//     vertical-align: middle;
// }
