@import url('https://fonts.google.com/specimen/Outfit');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: grey;
  height: 100vh;
  justify-content: center;
}


