@import url('https://fonts.google.com/specimen/Outfit');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  // resetovi koje je trebalo ranije dodati 
  display: flex;
  flex-flow: column;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: $main-BG;
  height: 100vh;
//   centriraj sve u sredinu 
  justify-content: center;
  align-items: center;
}


