@import url('https://fonts.google.com/specimen/Outfit');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: $main-BG;
  height: 100vh;
//   centriraj sve u sredinu 
  justify-content: center;
  align-items: center;
}


